

<div class="full_page_section">
  <div class="page_wrap center_contnet">
    <div class="section_title">
      <h2>Step 1 of 3</h2>
    </div>
    <div class="flex_center">
      <div class="checkboxes">
        <label ng-repeat="freeitem in freeItems">
          <input
            type="checkbox"
            checklist-model="checkedFree.item"
            checklist-value="freeitem"
            ng-click="isOneCheckedFree()"
          /> {{freeitem}}
        </label>
      </div>
      <div class="totals green_solid">
        <p>{{free}}</p>
      </div>
    </div>
  </div>

  <div class="page_wrap center_contnet">
    <div class="flex_center">
      <div class="checkboxes">
        <label ng-repeat="basic in basicItems">
          <input
            type="checkbox"
            checklist-model="checkedBasic.item"
            checklist-value="basic"
            ng-click="isOneCheckedBasic()"
          /> {{basic}}
        </label>
      </div>
      <div class="totals green_solid">
        <p>${{quoteBasic}}</p>
      </div>
    </div>
  </div>

  <div class="page_wrap center_contnet">
    <div class="flex_center">
      <div class="checkboxes">
        <label ng-repeat="order in orderItems">
          <input
            type="checkbox"
            checklist-model="checkedOrder.item"
            checklist-value="order"
            ng-click="isOneCheckedOrder()"
          /> {{order}}
        </label>
      </div>
      <div class="totals green_solid">
        <p>${{quoteOrder}}</p>
      </div>
    </div>
  </div>

  <div class="page_wrap center_contnet">
    <div class="flex_center">
      <div class="checkboxes">
        <label ng-repeat="largeSectionItem in largeSectionItems">
          <input
            type="checkbox"
            checklist-model="checkedLargeSection.item"
            checklist-value="largeSectionItem"
            ng-click="isOneCheckedLargeSection()"
          /> {{largeSectionItem}}
        </label>
      </div>
      <div class="totals green_solid">
        <p>${{quoteLargeSection}}</p>
      </div>
    </div>
  </div>

  <div class="page_wrap center_contnet">
    <div class="flex_center">
      <div class="checkboxes">
        <label ng-repeat="mergedContactsItem in mergedContactsItems">
          <input
            type="checkbox"
            checklist-model="checkedMergedContacts.item"
            checklist-value="mergedContactsItem"
            ng-click="isOneCheckedMergedContacts()"
          /> {{mergedContactsItem}}
        </label>
      </div>
      <div class="totals green_solid">
        <p>${{quoteMergedContacts}}</p>
      </div>
    </div>
  </div>

  <div class="page_wrap center_contnet">
    <div class="flex_center">
      <div class="checkboxes">
        <p>Total Quote</p>
      </div>
      <div class="totals green_solid">
        <p>${{quoteBasic + quoteOrder + quoteLargeSection + quoteMergedContacts}}</p>
      </div>
    </div>
  </div>

  <div class="page_wrap center_contnet">
    <button class="btn btn_orange" ng-click="uncheckAll()">Reset</button>
  </div>
</div>





<!-- STEP TWO OF THREE -->
<div class="full_page_section">
  <div class="page_wrap center_contnet section_two">
    <div class="section_title">
      <h2>Step 1 of 3</h2>
    </div>
  </div>
</div>




<!-- STEP THREE OF THREE -->
<div class="full_page_section green_solid">
  <div class="page_wrap section_three">
    <div class="section_title">
      <h2>Step 3 of 3</h2>
    </div>
    <div class="window_outline white_solid">
      <div class="window_head">
        <div class="circle window_item"></div>
        <div class="circle window_item"></div>
        <div class="circle window_item"></div>
        <div class="address_bar window_item"></div>
      </div>
      <div class="restore_script_wrap">
        <p>Q: What data needs to be restored to the records? </p>
        <div>
          <span ng-repeat="items in checkedFree.item">{{items}}, </span>
          <span ng-repeat="items in checkedBasic.item">{{items}}, </span>
          <span ng-repeat="items in checkedOrder.item">{{items}}, </span>
          <span ng-repeat="items in checkedLargeSection.item">{{items}}, </span>
          <span ng-repeat="items in checkedMergedContacts.item">{{items}}, </span>
        </div>
        <br />
        <p>Q: When was the data deleted/removed/altered/updated?</p>
        <br />
        <p>Q: *What actions were run to delete the data?</p>
        <br />
        <p>Q: Approved by which Database Team Member?</p>
        <br />
        <p>Q: Cost of restore?</p>
        <p>${{quoteBasic + quoteOrder + quoteLargeSection + quoteMergedContacts}}</p>
        <br />
      </div>
    </div>
  </div>
</div>
