
.checkboxes {
  flex: 1 1 200px;
}
.checkboxes label {
  display: block;
}
.totals {
  flex: 0 0 100px;
  align-self: center;
  text-align: center;
  padding: 2em;
}
.totals p {
  min-width: 3em;
  min-height: 1em;
}

.restore_script_wrap {
  padding: 2em 3em;
}


/*window styles*/
.window_outline {
  border: 3px solid rgba(120,120,120,1);
  border-radius: 5px;
  box-shadow: 20px 20px 3px rgba(40,40,40,0.2);
}
.window_head {
  background: rgba(200,200,200,1);
  width: 100%;
  height: 2.5em;
  border-bottom: 3px solid rgba(120,120,120,1);
  display: flex;
}

.window_item {
  align-self: center;
  background: #fff;
  width: 1em;
  height: 1em;
  border: 1px solid rgba(180,180,180,1);
}
.circle {
  border-radius: 50%;
  margin-right: 0.6em;
}
.circle:first-child {
  margin-left: 0.6em;
}

.address_bar {
  border-radius: 3px;
  flex: 1 1 10px;
  max-width: 50%;
  height: 1.3em
}
